@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
// Set your brand colors
$orange: #FF9B00;
$pink: #E44466;
$yellow: #FFFD82;
$fluoro-blue: #00F2F2;
$medium-blue: #4287f5;
$table-blue: #3C638E;
$table-green: #6C935C;
$white: #FFFFFF;
// Update Bulma's global variables
$family-sans-serif: "Varela Round", sans-serif;
$grey-dark: $table-blue;
$primary: $table-green;
$light: $yellow;
$danger: $pink;
$link: $orange;
$info: $table-blue;
$success: $fluoro-blue;
$widescreen-enabled: false;
$fullhd-enabled: false;
// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: $table-blue;
$button-border-color: $success;
// $input-shadow: none;
// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";

// styling home page starts here
.home-container{
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1609710228159-0fa9bd7c0827?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  background-position:  center;
  background-size:cover
}
.home-search-container{
height:100vh;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
}

.footer-container{
  position:fixed;
  display:flex;
  left:0;
  bottom:0;
  width:100%;
  height:6%;
  text-align: center;
  justify-content:center;
  align-items:center;
  color: white;
  background:$table-blue;
}
#input-width{
  width: 30vw
}

@media only screen and (max-width: 600px){
  .footer-container{
    font-size:12px;
  }

}
// styling home and footer page ends here

#fixed {
  position: sticky;
  background-color: #D9F1FF;
  top: 0;
  border-radius: 5px;
}

#commentsScroll {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#modalImage {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

#cardHover:hover {
  cursor: pointer;
}

#highlighted {
  border: 5px solid #FF9B00;
  border-radius: 100px;
}

#selected {
  border: 5px solid #FF9B00;
}

#submit {
  border: solid $table-green;
}

.dropdown {
  width: 100%;
}

//map toggle conatiner
.toggle-container{
  display: flex;
  flex-direction:column;
  align-items:flex-end;
  position:fixed;
  right: 8%;
  top:20%;
  z-index: 10;
  margin-right: 0px;
}
.toggle{
  margin:8px;
  background-color: #4287f5;
  color: white;
  border-radius:10px;
  outline-style: none;
}
#eventSectionBackground {
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vw;
    background-image: url('../asset/EventPageBackground.jpeg');
  background-position:  center;
  background-size:cover
}

#userSectionBackground {
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
    background-image: url("../asset/UserPageBackground.jpeg");
  background-position:  center;
  background-size:cover
}

.circle {
  border-radius: 100px;
}

.usersHeads {
  width: 150px;
  height: 150px;
}

.centeredText {
  text-align: center;
}

.centeredImage {
  justify-content: center;
  // margin-left: auto;
  // margin-right: auto;
}

.transparent {
  background-color: transparent;
}

.noPadding {
  padding: 5px;
}

#loginBackground {
  background-image: url('../asset/LoginPageBackground.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardHeight {
  min-height: 400px;
}

.titleHeight {
  min-height: 90px;
}